/*Header*/
.left_nav{
   
    position:absolute;
    display:inline;
    
}

.right_nav{
    position:absolute;
    display:inline;
    left:1710px;
   
    
}

li img {
    
    position: absolute;
    
    top:0px;
    bottom:5px;
    
    
} 
li{
    list-style-type: none;
    display: inline;
    margin-right: 10px;
   
}

li a{
    color:black;
    text-decoration: none;
}

/*Header*/



/*section*/



.google_logo {
    position: absolute;
    left: 750px;
    top: 300px;
}


input{
    position: absolute;
    margin : 5px 0px;
    padding: 0px 50px;
    width:580px;
    height:44px;
    border-radius: 30px;
    border-style: solid;
    border-color: #DCDCDD;
    left: 610px;
    top:400px;
    z-index: 1;
}


.google_search {
    position: absolute;
    z-index: 2;
    left: 625px;
    top: 415px;
}

.google_microphone {
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
    left: 1150px;
    top: 416px;
}

.google_microphone_hover{
    background-repeat: no-repeat;
    position: absolute;
    z-index: 2;
    left: 1150px;
    top: 416px;

}

.microphone img:last-child{
    display: none;
}

.microphone:hover img:first-child{
    display: none;
}

.microphone:hover img:last-child{
    display: inline-block;
}

.google_keyboard {
    background-image: url("https://www.gstatic.com/inputtools/images/tia.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 1116px;
    top: 423px;
    z-index: 2;
}

/*section*/


/*footer*/

footer {
    background-color:#F2F2F2;
    width:100%;
    height : 110px;
    bottom:0px;
    position: absolute;
    padding:20px 0px;
    
    
}

.box1{
    border-bottom: solid gray;
}

.box2{
    padding-top:10px;
    display: flex;
    justify-content: space-between;
}

.items span {
    padding-right: 15px;
}

.items a{
    color:black;
    text-decoration: none;
}


/*footer*/
